.grid-header h1
{
    font-weight: lighter;
}

.grid
{
    display: grid;
    height: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 7% 66% 7%;
    grid-template-areas:
        "header header header header"
        /*"t-button t-button t-button t-button-right"*/
        "p-table p-table p-table p-table"
        "footer footer footer right-footer"
}

.grid-header
{
    grid-area: header;
}

.grid-footer {
    grid-area: footer;
}

.grid-right-footer
{
    grid-area: right-footer;
    text-align: right;
}

.grid-t-button {
    grid-area: t-button;
}

.grid-t-button-right {
    grid-area: t-button-right;
    text-align: right;
}

.grid-p-table {
    grid-area: p-table;
}

.table-size table
{
    height: 100%;
}

.newModul-content
{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    height: 75%;
    text-align: center;
}

.newModul-content input
{
    margin-top: 2%;
    margin-bottom: 4%;
    width: 65%;
    text-align: center;
    font-size: 18px;
}

.newModul-content select
{
    margin-top: 2%;
    margin-bottom: 4%;
    width: 65%;
    text-align: center;
    font-size: 18px;
}

.newModul-content label
{
    margin-top: 0%;
    font-weight: bold;
}

#addModuleBtnID
{
    width: 100%;
    background-color: var(--hsos-blue);
    border: none;
    color: white;
    font-weight: bold;
    padding: 6px 32px;
    text-align: center;
    font-size: 18px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.deleteModul-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}
