<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./javascript/admin_G3.js" type="text/javascript" language="JavaScript" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" language="JavaScript" src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<div class ="navbar"></div>


    <form>
        <div class='formbox'>
            <label for="sftwname">
                <input type="text" id="sftwname" placeholder="Name">
            </label>
        </div>
        <div class='formbox'>
            <label for="sftwbeschreibung">
                <input type="text" id="sftwbeschreibung" placeholder="Beschreibung">
            </label>
        </div>
        <div class='formbox'>
            <label for="sftwlink">
                <input type="text" id="sftwlink" placeholder="Link">
            </label>
        </div>
        <div class='formbox'>
            <button id="btn" onclick="insertData()">Add</button>
        </div>
    </form>

    <table id= "table">
        <thread>
            <th>Id</th>
            <th>SoftwareName</th>
            <th>Beschreibung</th>
            <th>Link</th>

        </thread>
        <tbody id='data-table'></tbody>
    </table>
    <table id= "table1">
        <thread>
            <th>ID</th>
            <th>GruppenName</th>
            <th>Beschreibung</th>
        </thread>
        <tbody id='notification-table'></tbody>
    </table>

</body>
<footer>
    <div class ="footer"></div>
</footer>
</html>
<script>
    $(function(){
        $(".navbar").load("navbar.html");
    });
</script>

<script>
    $(function(){
        $(".footer").load("footer.html");
    });
</script>

