<!DOCTYPE html>
<html>
<head>
    <div id="nav-placeholder">
    </div>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../css/footer.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <style>

    </style>
</head>
<body>




</body>
<footer>
    <div style="text-align: center">© 2020 Copyright:
        <a href="/Impressum"> Impressum </a>
    </div>
</footer>
</html>