<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <title>Index</title>
    <!--    <link href="../css/homepage.css" rel="stylesheet" type="text/css">-->
    <link href="../css/homepage.css" rel="stylesheet" type="text/css">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <!--    <link href="../css/style.css" rel="stylesheet" type="text/css">-->
    <script src="../javascript/homepage.js" type="text/javascript" language="JavaScript"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Cookie -->
    <link rel="stylesheet" type="text/css" href="../css/cookie.css" async />
    <!--            -->

</head>
<body class="index_all">


<div id="UserMenu_All_Header_Index">
    <div id="All_Header_left" class="All_Header_Boxes" >
        <a href="https://osca.hs-osnabrueck.de/">
                    <img id="oscaImagelogo" class="oscaLogo" src="../../images/hsos-logo-neu.png">
        </a>
    </div>
</div>


<br>
<br>
<br>

<div id="middle_index">
    <div class="box"><h1>Hausarbeitenverwaltungssystem</h1></div>
    <div class="box"><h3>Dies ist ein Projekt für das Modul "Webtechnologien" des Sommersemesters
        2020.<br></h3></div>
    <br>
    <br>
    <div class="box">

        <a href="#b1">
            <button class="button" href="#b1"><span>Erfahre mehr...</span></button>
        </a>

        <a href="/login">
            <button class="button"><span>Bereits dabei?</span></button>
        </a>

        <a href="/register">
            <button class="button"><span>Jetzt registrieren</span></button>
        </a>

    </div>
</div>


    <div id="b1"  class="details">
        <h3>Details zum Verfahren</h3>
        Dies ist das Hausarbeitenverwaltungssystem der Hochschule Osnabrück.
        Hiermit haben ausgewählte Studenten die Chance, sich mit Ihren Gruppen
        zu organisieren und Projekte zu bearbeiten. Unser Projekt soll Studenten die Kommunikation
        in den Gruppen vereinfachen.

        Um mitmachen zu können, benötigst du einen Freischaltcode von deinem Dozenten. Nur darüber
        kannst du dich registrieren.
        Frage deinen Dozenten, ob dieser das Hausarbeitenverwaltungssystem benutzt. Falls nicht kann
        man uns kontaktieren.

        </p> <a class="close" id="c1" href="#c1" title="schließen">schließen</a>
        <br>
        <br>
        <a href="/register">
            <button class="button"> <span>Jetzt registrieren</span></button>
        </a>


    </div>

<!--<div class="content">-->
<!--    <h1>Heading</h1>-->
<!--    <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei. Id qui nemore latine molestiae, ad mutat oblique delicatissimi pro.</p>-->
<!--    <button id="myBtn" onclick="myFunction()">Pause</button>-->
<!--</div>--><!--
<br><br><br><br><br><br><br><br><br>
<div class="footer">
    <p>
        <a href="impressum.html"> Impressum</a>
        // Kontakt: Mo-Fr 12-16 Uhr unter 01741972105
    </p>-->
</div>
<footer>
    <div class ="footer"></div>
</footer>

</body>
<div class="footer_index" style="text-align: center">© 2020 Copyright:
    <a href="/Impressum"> Impressum </a>
</div>
</html>

