<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gantt</title>
    <script src="./javascript/MSScriptTest.js" defer></script>
    <link rel="stylesheet" type="text/css" href="./css/MSstylesheet.css">
    <link rel="stylesheet" type="text/css" href="../css/MSstylesheet.css">
    <script src ="./javascript/getMilestones.js"></script>
</head>

<body marginheight="0" marginwidth="0" onload="getMilestones()">

<!-- Navigationbar Left -->
<div class="menu">
    <ul id="overwiewList">
        <li><h2><a href="GanttHome.html" target="_parent">Übersicht</a></h2></li>
        <li><h3><a href="MilestonesNewMilestone.html" target="_parent">+ Neuer Meilenstein</a></h3></li>
        <li><h3><a href="MilestonesStatistics.html" target="_parent">Statistik </a></h3></li>
    </ul>

</div>
</body>
</html>