<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="../css/navigationBar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

   <!-- <script src="https://code.jquery.com/jquery-1.10.2.js"></script>-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

        body {
            margin: 0;

        }
    </style>
</head>
<body>

<div id="UserMenu_All_Header">
    <div id="All_Header_left" class="All_Header_Boxes" style="float: left; margin-right: 5px">
        <a href="https://osca.hs-osnabrueck.de/">
            <div class="outer-wrapper" style="float:left">
                <div class="frame" style="height: 52px">
                    <img id="oscaImagelogo" class="oscaLogo" src="../../images/osca3-white.png">
                </div>
            </div>
        </a>

        <div class="dropdown" style="margin-left: 5px">
            <form action="/myGroups">
                <button class="header_button ">Meine Gruppe</button>
            </form>
            <div class="dropdown-content">
                <a href="/joinGroup">Gruppe beitreten</a>
                <a href="/requirementsdefinition">Anforderungsdefinition</a>
            </div>
        </div>

        <div class="dropdown " style="margin-left: 5px">
            <form action="/upload_G3">
                <button class="header_button">Upload Gruppe3</button>
            </form>
            <div class="dropdown-content">
                <a href="/student_G3">Student</a>
                <a href="/admin_G3">Admin</a>
            </div>
        </div>

        <div class="dropdown" style="margin-left: 5px">
            <form action="/RequirementsEditGer">
                <button class="header_button">Group 5</button>
            </form>

        </div>

        <div class="dropdown" style="margin-left: 5px">
            <form action="/presentation">
                <button class="header_button">Präsentation</button>
            </form>

        </div>


    </div>

    <div id="All_Header_right" class="All_Header_Boxes" style="float: right">

        <div class="frame" style="float: left;">
            <a href="https://my.hs-osnabrueck.de/owa/">
                <div class="outer-wrapper" style="float:left">
                    <div class="frame" style="height: 52px">
                        <i id="mailIcon" class="far fa-envelope fa-lg" style="font-size: 25px"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="frame" style="float: left;">
            <a href="https://netcase.hs-osnabrueck.de">
                <div class="outer-wrapper" style="float:left">
                    <div class="frame" style="height: 52px">
                        <i id="netcaseIcon" class="fas fa-briefcase fa-lg" style="font-size: 25px"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="dropdown">
            <form action="/showUsers">
                <button class="header_button">Benutzer</button>
            </form>
        </div>
        <div class="dropdown">
            <form action="/logout" method="post">
                <button class="header_button">Logout</button>
            </form>
        </div>
    </div>
</div>




<!--
<h1 id="name"></h1>
<form action="/logout" method="post">
    <button>Logout</button>
</form>

<br>
<div>
    <a href="/token">Token_client</a>
</div>
<div>
    <a href="/showUsers">Benutzer</a>
</div>
-->


</body>
<footer>

</footer>
</html>